@inject IHttpContextAccessor httpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FileReader</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto:400,400i,700&display=swap" />
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>
    @{
        var cookie = httpContextAccessor.HttpContext.Request.Cookies["FileReader.theme"]?.ToString();
        var theme = string.IsNullOrEmpty(cookie) ? "dark" : cookie;
    }

    <div class="container" id="container" data-theme="@theme">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
