@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

    <div class="error">
        <div class="error__title">
            Error
        </div>
        <div class="error__message">
            @Model.Message
        </div>
    </div>
