@model AuthenticationViewModel

<div class="authentication">
    <form class="authentication__form" asp-controller="Home" asp-action="Login" method="post">
        <div class="input-group">
            <label class="input-label" asp-for="AuthenticationType"></label>
            <select class="input-dropdown" asp-for="AuthenticationType" asp-items="Html.GetEnumSelectList<AuthenticationType>()"></select>
        </div>
        <div class="input-group">
            <input class="input-button" type="submit" value="Login" />
        </div>
    </form>
</div>

