$theme-dark--primary: #121212;
$theme-dark--secondary: #20272d;
$theme-dark--tertiary: #2a3840;
$theme-dark--text: #fbfaf8;
$theme-dark--accent: #ffd129;

$theme-light--primary: #f3f3f3;
$theme-light--text: #121212;
$theme-light--accent: #8a271e;

/* RESPONSIVE BREAKPOINTS */
$bp-largest: 75em;
$bp-large: 62.5em;
$bp-medium: 50em;
$bp-small: 37.5em;

/* TYPOGRAPHY */
