/* RESPONSIVE BREAKPOINTS */
/* TYPOGRAPHY */
/*
    0 - 600px:      normal styles apply
    601 - 900px:    tablet portrait
    901 - 1200px:   tablet landscape
    1201 - 1800px:  desktop
    1801px + :      big-desktop
*/
/* TITLE */
.input-label, .home__result__title {
  font-family: "Bebas Neue";
  font-family: var(--font-family-secondary);
  color: #fbfaf8;
  color: var(--color-text);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.3rem;
  line-height: 1;
  font-size: 2.5rem; }
  @media only screen and (min-width: 37.5em) {
    .input-label, .home__result__title {
      font-size: 3rem; } }
  @media only screen and (min-width: 75em) {
    .input-label, .home__result__title {
      font-size: 3.5rem; } }

/* TEXT */
.container, .input-dropdown {
  font-family: "Roboto";
  font-family: var(--font-family-primary);
  color: #fbfaf8;
  color: var(--color-text);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6; }

/* TITLE */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent; }

*:focus {
  outline: none; }

:root {
  --color-background: #121212;
  --color-background-secondary: #dedede;
  --color-background-opaque: rgba(18, 18, 18, 0.1);
  --color-background-box: #0f0f0f;
  --color-text: #fbfaf8;
  --color-accent: #ffd129;
  --color-nav-background: rgba(18, 18, 18, 0.8);
  --color-nav-box-shadow: 0 3px 10px #030303;
  --color-box-shadow: 0 0.21rem 1.2rem #030303;
  --color-image-filter: brightness(90%);
  --color-border-color: #ffd129;
  --font-family-primary: "Roboto";
  --font-family-secondary: "Bebas Neue";
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; }

[data-theme="dark"] {
  --color-background: #121212;
  --color-background-secondary: #dedede;
  --color-background-opaque: rgba(18, 18, 18, 0.5);
  --color-background-box: #0f0f0f;
  --color-text: #fbfaf8;
  --color-accent: #ffd129;
  --color-nav-background: rgba(18, 18, 18, 0.8);
  --color-nav-box-shadow: 0 0 50px 50px #121212;
  --color-box-shadow: 0 0.21rem 1.2rem #030303;
  --color-image-filter: brightness(90%);
  --color-border-color: #ffd129; }

[data-theme="light"] {
  --color-background: #f3f3f3;
  --color-background-secondary: #272727;
  --color-background-opaque: rgba(243, 243, 243, 0.5);
  --color-background-box: #ebebeb;
  --color-text: #121212;
  --color-accent: #8a271e;
  --color-nav-background: rgba(243, 243, 243, 0.8);
  --color-nav-box-shadow: 0 0 50px 50px #f3f3f3;
  --color-box-shadow: 0 0.21rem 1.2rem #030303;
  --color-image-filter: brightness(100%);
  --color-border-color: #8a271e; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  background-color: #121212;
  background-color: var(--color-background);
  width: 100%;
  height: 100vh; }

*::-webkit-scrollbar {
  width: .5rem; }

*::-webkit-scrollbar-thumb {
  background-color: #ffd129;
  background-color: var(--color-accent); }

.input-group {
  padding: 2.5rem 0;
  border-top: 2px solid;
  border-color: #ffd129;
  border-color: var(--color-accent);
  display: grid;
  grid-row-gap: 1rem; }

.input-file, .input-checkbox, .input-dropdown {
  cursor: pointer; }

.input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  opacity: 0;
  cursor: pointer; }
  .input-file-container {
    position: relative;
    width: 25rem; }
  .input-file-label {
    font-family: "Bebas Neue";
    font-family: var(--font-family-secondary);
    background-color: #fbfaf8;
    background-color: var(--color-text);
    color: #121212;
    color: var(--color-background);
    padding: 1rem 2rem;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    line-height: 1.4;
    cursor: pointer;
    display: block;
    padding: 1rem 2rem;
    text-transform: uppercase;
    text-align: center; }
  .input-file-filename {
    padding-top: .5rem;
    overflow: hidden;
    text-overflow: ellipsis; }

.input-checkbox {
  position: absolute;
  top: .2rem;
  right: 0;
  height: 3rem;
  width: 3rem;
  opacity: 0; }
  .input-checkbox-container {
    display: block;
    position: relative;
    width: 25rem;
    cursor: pointer; }
    .input-checkbox-container:hover .input-checkbox ~ .input-checkbox-span {
      background-color: #ffd129;
      background-color: var(--color-accent); }
    .input-checkbox-container .input-checkbox:checked ~ .input-checkbox-span {
      background-color: #ffd129;
      background-color: var(--color-accent); }
    .input-checkbox-container .input-checkbox:checked ~ .input-checkbox-span:after {
      display: block; }
  .input-checkbox-span {
    position: absolute;
    top: .2rem;
    right: 0;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    background-color: #bababa; }
    .input-checkbox-span:after {
      content: "";
      position: absolute;
      display: none;
      left: 1.05rem;
      top: .21rem;
      width: 1rem;
      height: 2.1rem;
      border-style: solid;
      border-color: #121212;
      border-color: var(--color-background);
      border-width: 0 .3rem .3rem 0;
      transform: rotate(45deg); }

.input-dropdown {
  height: 3rem;
  border: none;
  color: #121212;
  color: var(--color-background);
  background-color: #fbfaf8;
  background-color: var(--color-text); }

.input-button {
  font-family: "Bebas Neue";
  font-family: var(--font-family-secondary);
  background-color: #fbfaf8;
  background-color: var(--color-text);
  color: #121212;
  color: var(--color-background);
  padding: 1rem 2rem;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  line-height: 1.4;
  text-transform: uppercase;
  border: none;
  cursor: pointer; }

.input-icon {
  cursor: pointer;
  background-color: transparent;
  border: none; }
  .input-icon svg {
    fill: #fbfaf8;
    fill: var(--color-text); }

.input-validation {
  color: #ffd129;
  color: var(--color-accent); }

.authentication {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

.home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 2.5rem; }
  .home__form {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: min-content 1fr;
    grid-row-gap: 2.5rem;
    border-right: 2px solid;
    border-color: #ffd129;
    border-color: var(--color-accent); }
    .home__form__top {
      padding: 2.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .home__form__top > form {
        display: flex; }
      .home__form__top .input-icon {
        display: flex;
        align-items: center;
        height: 3.2rem; }
    .home__form__bottom {
      padding: 1rem 2.5rem;
      display: flex;
      flex-direction: column; }
  .home__result {
    height: 100vh;
    display: grid;
    grid-row-gap: 2.5rem;
    grid-auto-rows: min-content 1fr;
    padding: 2.5rem 0; }
    .home__result__container {
      height: 100vh;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 2.5rem; }
    .home__result__content {
      overflow-y: auto;
      word-break: break-word;
      padding: 0 1rem 0 0; }

